@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

:root {
    --bg-color: #262A2E;
    --white: #FEFEFE;
    --pink:#EAD0FF;
    --green: #D0FFE9;
    --main-font: "Advent Pro"
}

* {
    margin: 0;
}
body {
    background-color: var(--bg-color);
}
.arrow {
    width: 15px;
    position: absolute;
    top: 20px;
    left: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: pointer;
}
h1, h2, h3, p, ul li, a{
    font-family: var(--main-font);
    color: var(--white);
    line-height: 168%;
    letter-spacing: 2px 
}
.left {
    border-right: 1px solid var(--white);
    padding-right: 70px;
    padding-left: 70px;
}
.right {

    padding-left: 50px;
    height: 100vh;

    overflow-y: scroll;
}
.right h1 {
    padding-top: 50px;
}
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.project {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 800px;
}
.project img {
    width: 300px;
    height: 185px;
    border-radius: 5px;
}
.project a {
    font-size: 20px;
}
.tech {
    color: #0fcc74;;
    font-size: 12px;
    padding: 10px 0px;
}
.left img {
    display: block;
    margin: auto;
    padding-top: 70px;

}
.accent-pink {
    background-color: var(--pink);
    color: var(--bg-color);
    padding: 4px;
    font-size: 19px;
}
.accent-green {
    background-color: var(--green);
    color: var(--bg-color);
    padding: 4px;
}
main {
    display: grid;
    grid-template-columns: 440px 1fr;
    height: 100vh;
    background-color: var(--bg-color);
}
.social {
    position: absolute;
    bottom: 40px;
   
}
.social svg {
    margin-top: 10px;
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    main {
        grid-template-rows: auto 1fr ;
        grid-template-columns: 1fr;
        padding: 20px 20px;
        height: auto;

    }
    .left {
        padding: 0px;
        border: none;
    }
    .project {
        flex-direction: column;
    }
    .social {
        position: relative;
        padding-top: 50px;
    }
    .right {
        padding: 0px;
        height: fit-content;
        overflow: hidden;
    }
    .arrow {
        display: none;
    }
}